.imgContainer {
	max-width: 60px;
	max-height: 60px;
	min-width: 60px;
	min-height: 60px;
}

.item {
	display: flex;
	justify-content: center;
	max-width: 60px;
	max-height: 60px;
	min-width: 60px;
	min-height: 60px;
	align-items: center;
	flex: 0 0 150px;
}

.cardNumber {
	color: #f44;
	font-weight: 600;
	position: relative;
	top: -60px;
	cursor: pointer;
}
