.table {
	margin: 20px auto;
	display: flex;
	width: calc(61px * 6 - 1px);
	flex-wrap: wrap;
	gap: 1px;
}

.undoButton {
	padding: 12px 30px;
	margin: auto;
	color: white;
	background-color: blue;
	border-radius: 5px;
	width: fit-content;
}
